{{ ansible_managed | comment }}

server {
  listen 80 default_server;
  server_name _;

  access_log /var/log/nginx/access.default.log combined buffer=256k flush=30s;
  error_log /var/log/nginx/error.default.log;

  root /var/www/htdocs;
}
