<!-- {{ ansible_managed }} -->
<html>

<head>
    <title>NGINX web server - default page</title>
</head>

<body>

    <h1>Hello ! Bonjour ! Allo ! </h1>
    <p>This Nginx web server Nginx is working and accessible ! Let's play !</p>
    <p>Ce serveur web Nginx est opérationnel et accessible ! A vous de jouer !</p>

</body>

</html>