{{ ansible_managed | comment }}

server {
  listen 81;
  server_name _;

  error_log /var/log/nginx/error.status.log;

  location /nginx_status {
    stub_status;
    allow 127.0.0.1;
    deny all;
  }
}
